.dart_tool/
build/
*.iml
android/local.properties
android/.gradle/
android/app/src/main/java/io/flutter/plugins/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.m
macos/Flutter/ephemeral/
.flutter-plugins-dependencies
